<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_GESTION_RESERVATION_CHAMBRE_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=GESTION_RESERVATION_CHAMBRE" />
        <add name="localhost_GESTION_RESERVATION_CHAMBRE_Connection 1"
            connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=GESTION_RESERVATION_CHAMBRE" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>